*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

nav{
  position: fixed;
  top: 0;
  height: 2.2rem;
  width: 100%;
  padding: 8px;
  padding-left: 40px;
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 1.4rem;
}

.nav-link{
  color: black;
  text-decoration: none;
}